@import "tailwindcss";

/* Fondo global con gradiente radial muuuuy suave */
body{
  background:
    radial-gradient(1200px 600px at 20% -10%, rgba(59,130,246,0.08), transparent 60%),
    radial-gradient(1000px 500px at 100% 10%, rgba(99,102,241,0.08), transparent 60%),
    linear-gradient(180deg, #f8fafc, #eef2f7);
}
